<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,  initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Luận văn Thạc sĩ - KhanhNN</title>
    <link rel="stylesheet" href="../static/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
<header>
    <div class="main-header">
        <div class="bs-container">
            <div class="banner">
                <div class="img">
                    <div class="ImagesFrame">
                        <div class="ImagesFrameCrop0">
                            <img src="../static/images/hoc-vien-mat-ma.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<main>
    <div class="bs-container">
        <section class="create-bank">
            <div class="content content-search">
                <div class="head">
                    <h4 class="title">KẾT QUẢ TÌM KIẾM</h4>
                </div>
                <div class="body">
                    {% if message == ""  %}
                    <div class="item">
                        <div class="content-item">
                            <div class="bs-row bs-row-sm15">
                                <div class="bs-col sm-50-15">
                                    <div class="item_">
                                        <p class="title">Số CMT/ Hộ Chiếu: <span
                                                class="cont">{{data["clientId"]}}</span></p>
                                    </div>
                                    <div class="item_">
                                        <p class="title">Họ và tên: <span class="cont">{{data["name"]}}</span></p>
                                    </div>
                                    <div class="item_">
                                        <p class="title">Chỗ ở hiện nay: <span
                                                class="cont">{{data["address"]}}</span></p>
                                    </div>
                                    <div class="item_">
                                        <p class="title">Quê quán: <span class="cont">{{data["population"]}}</span></p>
                                    </div>
                                </div>
                                <div class="bs-col sm-50-15">
                                    <div class="item_">
                                        <p class="title">Hộ khẩu: <span
                                                class="cont">{{data["resident"]}}</span></p>
                                    </div>
                                    <div class="item_">
                                    <p class="title">Tình trạng hồ sơ: <span class="cont">

                                    </span>{{data["profile_status"]}}</p>
                                </div>
                                    <div class="item_">
                                        <p class="title">Mô tả chi tiết: <span
                                                class="cont">{{data["description"]}}</span></p>
                                    </div>
                                    <div class="item_">
                                        <p class="title">Ngân hàng vay: <span class="cont">{{ data["creator"]}}</span></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% else %}
                        <center>{{ message }}</center>
                    {% endif %}
                </div>
            </div>
        </section>
    </div>
</main>
<script src="../static/js/jquery-3.2.1.js"></script>
<script>
    function loadImages() {
        $(".ImagesFrameCrop").each(function () {
            $(this).removeClass("wide")
            $(this).removeClass("tall")
            if ($(this).width() / $(this).height() > $(this).parent().width() / $(this).parent().height()) {
                $(this).addClass("wide");
            } else {
                $(this).addClass("tall");
            }
        });
        $(".ImagesFrameCrop").children("img").each(function () {
            $(this).removeClass("wide")
            $(this).removeClass("tall")
            if ($(this).width() / $(this).height() > $(this).parent().width() / $(this).parent().height()) {
                $(this).addClass("wide");
            } else {
                $(this).addClass("tall");
            }
        });

        $(".ImagesFrameCrop1").each(function () {
            $(this).removeClass("wide")
            $(this).removeClass("tall")
            if ($(this).width() / $(this).height() > $(this).parent().width() / $(this).parent().height()) {
                $(this).addClass("wide");
            } else {
                $(this).addClass("tall");
            }
        });
        $(".ImagesFrameCrop1").children("img").each(function () {
            $(this).removeClass("wide")
            $(this).removeClass("tall")
            if ($(this).width() / $(this).height() > $(this).parent().width() / $(this).parent().height()) {
                $(this).addClass("wide");
            } else {
                $(this).addClass("tall");
            }
        });

        $(".ImagesFrameCrop0").each(function () {
            $(this).removeClass("wide")
            $(this).removeClass("tall")
            if ($(this).width() / $(this).height() > $(this).parent().width() / $(this).parent().height()) {
                $(this).addClass("wide");
            } else {
                $(this).addClass("tall");
            }
        });
        $(".ImagesFrameCrop0").children("img").each(function () {
            $(this).removeClass("wide")
            $(this).removeClass("tall")
            if ($(this).width() / $(this).height() > $(this).parent().width() / $(this).parent().height()) {
                $(this).addClass("wide");
            } else {
                $(this).addClass("tall");
            }
        });
    }

    loadImages();
</script>
</body>

</html>
